:host {
  display: block;
  position: absolute;
  left: 45px;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 25%;
  background: transparent;
}

.main-menu-container {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-menu-container .main-menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 5px solid #7c7c7c;
  padding: 15px;
  min-height: 75px;
  min-width: 280px;
  border-radius: 5px;
  position: relative;
  background: #171c2d;
}

.main-menu-container .main-menu-item:not(:last-child) {
  margin-bottom: 30px;
}

.main-menu-item__button {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  background-image: radial-gradient(#6f96e8 45%, transparent, transparent);
  padding: 10px;
  width: 100%;
}

.menu-processor {
  position: absolute;
  height: calc(75px + 15px);
  width: calc(75px + 15px);
  border-radius: 50%;
  overflow: hidden;
  background-color: #313c5e;
  background-image: url('/assets/img/circle-port.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  left: -45px;
  top: calc(50% - 45px);
  z-index: 2;
}
