<ul class="main-menu-container">
  <li class="main-menu-item">
    <div class="menu-processor"></div>
    <a routerLink="#" mat-flat-button class="main-menu-item__button">login</a>
  </li>
  <li class="main-menu-item">
    <div class="menu-processor"></div>
    <a routerLink="#" mat-flat-button class="main-menu-item__button">register</a>
  </li>
  <li class="main-menu-item">
    <div class="menu-processor"></div>
    <a routerLink="#" mat-flat-button class="main-menu-item__button">about</a>
  </li>
  <li class="main-menu-item">
    <div class="menu-processor"></div>
    <a routerLink="/welcome" mat-flat-button class="main-menu-item__button">let try</a>
  </li>
</ul>
