<div [@animateChildContainer]="animationFrame" (@animateChildContainer.start)="listenStart($event)" (@animateChildContainer.done)="listenDone($event)"  class="animation-wrapper">
  <img [@bannerChild]="animationFrame" (@bannerChild.start)="listenStart($event)" (@bannerChild.done)="listenDone($event)"  src="/assets/img/star-wars-text-outline.png" alt="Star Wars Placeholder" class="main-banner">

  <img [@saberChild]="animationFrame" (@saberChild.start)="listenStart($event)" (@saberChild.done)="listenDone($event)" src="/assets/img/lightsaber.png" alt="Star Wars Lightsaber" class="light-saber">

  <a [@navigationChild]="animationFrame" (@navigationChild.start)="listenStart($event)" (@navigationChild.done)="listenDone($event)" class="navigation">view heroes</a>

  <div @credits  class="titles">
    <p>
            It is a period of civil war.
      Rebel spaceships, striking
      from a hidden base, have won
      their first victory against
      the evil Galactic Empire.
    </p>

    <p>
        During the battle, Rebel
      spies managed to steal secret
      plans to the Empire's
      ultimate weapon, the DEATH
      STAR, an armored space
      station with enough power
      to destroy an entire planet.
    </p>

    <p>
        Pursued by the Empire's
      sinister agents, Princess
      Leia races home aboard her
      starship, custodian of the
      stolen plans that can save her
      people and restore
      freedom to the galaxy….
    </p>
  </div>

  <audio #audioPlayer muted="true" preload="auto">
    <source [src]="source" type="audio/mpeg"/>
  </audio>
</div>