:host {
  --margin-centering: 40px;
  display: block;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('/assets/img/background-stars-desktop.jpeg');

  font-family: 'Roboto', sans-serif;

  .animation-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;

      img {
        max-width: 100%;
      }

      img.main-banner {
        display: block;
        transform: scale3d(0,0,1);
        margin: calc(var(--margin-centering) * 2) auto 0;
      }

      .light-saber {
        position: absolute;
        filter: opacity(0);
      }

      .navigation {
        font-size: 20px;
        letter-spacing: 1px;
        text-transform: capitalize;
        text-shadow: 2px 2px black;
        color: #ffffff;
        filter: opacity(0);
        margin-top: var(--margin-centering);
        padding: 10px 20px;
        box-shadow: inset 0px 5px 30px 0px #50ff22;
        border-radius: 20px;
      }

      .titles {
        position: fixed;
        top: 100%;
        left: calc(50% - (90vw / 2));
        width: 90%;
        transform-origin: top;
        transform: perspective(2000px) rotateX(50deg) translateY(0%);
        z-index: 1;
        font-size: 30px;
        line-height: 1.5;
        color: #ffa500;

        p {
          margin-bottom: 30px;
        }
      }
    }
}

@media screen and (min-width: 1024px) {
  :host {
    .animation-wrapper {
      img {
        max-width: 80%;
      }

      .titles {
        width: calc(100vw / 2);
        left: calc(50% - (100vw / 4));
        font-size: 40px;
      }
    }
  }
}
