:host {
  background-image: url('/assets/img/new-republic.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35%;
  background-color: darkgray;
  background-blend-mode: soft-light;

  .welcome-banner {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;

    .banner-logo {
      width: 335px;
      height: 335px;
      background-image: url('/assets/img/star-wars-banner.png');
      background-position: 0 0;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
